<!DOCTYPE html>
<html>
<head>
    <title> Review - Add</title>
</head>
<body>
<h1> Review a Book</h1>
<form action="/review/insert" method="get">
    User ID: <input name="user_id" type="number" />
    <br />
    <br />
    Book ID: <input name="book_id" type="number" />
    <br />
    <br />
    Review: <input name="review" type="text" />
    <br />
    <br />
    <input type="submit" />

</form>
<br />
<a href="http://localhost:3000/">Home</a>
</body>
</html>