<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <a href="http://localhost:3000/user/all/">Users</a>
    <br />
    <br />
    <a href="http://localhost:3000/user/add/">Register</a>
  </body>

  <br />
  <br />
  <br />

  <body>
  <h1>Books</h1>
  <a href="http://localhost:3000/book/all">Books</a>
  <br />
  <br />
  <a href="http://localhost:3000/book/add/">Add New Book</a>
  <br />
  <br />
  <br />
  <a href="http://localhost:3000/rating/all/">View Book Ratings</a>
  <br />
  <br />
  <a href="http://localhost:3000/rating/add/">Rate a Book</a>
  <br />
  <br />
  <br />
  <a href="http://localhost:3000/review/all/">View Book Reviews</a>
  <br />
  <br />
  <a href="http://localhost:3000/review/add/">Review a Book</a>
  </body>

  <br />
  <br />
  <br />

  <body>
  <h1>Book Lists</h1>
  <a href="http://localhost:3000/books-completed/all/">Books Completed</a>
  <br />
  <br />
  <a href="http://localhost:3000/books-completed/add/">Add Completed Book</a>
  <br />
  <br />
  <br />
  <a href="http://localhost:3000/books-dropped/all/">Books Dropped</a>
  <br />
  <br />
  <a href="http://localhost:3000/books-dropped/add/">Add Dropped Book</a>
  <br />
  <br />
  <br />
  <a href="http://localhost:3000/books-reading/all/">Books Being Read</a>
  <br />
  <br />
  <a href="http://localhost:3000/books-reading/add/">Add Book Being Read</a>
  <br />
  <br />
  <br />
  <a href="http://localhost:3000/books-to-read/all/">Books To Read</a>
  <br />
  <br />
  <a href="http://localhost:3000/books-to-read/add/">Add Book To Read</a>
  </body>
</html>
