<!DOCTYPE html>
<html>
<head>
    <title> User - Add</title>
</head>
<body>
<h1> Add New User</h1>
<form action="/user/insert" method="get">
    Username: <input name="username" type="text" />
    <br />
    <br />
    Password: <input type="password" name="password" type="text" />
    <br />
    <br />
    Email-Address: <input name="email" type="email" />
    <br />
    <br />
    <input type="submit" />

</form>
<br />
<a href="http://localhost:3000/">Home</a>
</body>
</html>