<!DOCTYPE html>
<html>
<head>
    <title> Books Dropped - Add</title>
</head>
<body>
<h1> Add to the "Books Dropped" List</h1>
<form action="/books-dropped/insert" method="get">
    User ID: <input name="user_id" type="number" />
    <br />
    <br />
    Book ID: <input name="book_id" type="number" />
    <br />
    <br />
    <input type="submit" />

</form>
<br />
<a href="http://localhost:3000/">Home</a>
</body>
</html>