<!DOCTYPE html>
<html>
<head>
    <title> Book - Add</title>
</head>
<body>
<h1> Add New Book</h1>
<form action="/book/insert" method="get">
    Title: <input name="title" type="text" />
    <br />
    <br />
    Author: <input name="author" type="text" />
    <br />
    <br />
    Genre: <input name="genre" type="text" />
    <br />
    <br />
    Date Published: <input name="date_published" type="text" />
    <br />
    <br />
    <input type="submit" />

</form>
<br />
<a href="http://localhost:3000/">Home</a>
</body>
</html>